In [1]:
import pandas as pd
import numpy as np
from io import StringIO
csv_data=\
    '''
    A,B,C,D
    1.0,2.0,3.0,4.0
    5.0,6.0,,8.0
    10.0,11.0,12.0,
    '''
    
df=pd.read_csv(StringIO(csv_data))

# 누락된 값이 있는 훈련 샘플이나 특성 제외
df.dropna(axis=0,how='all')

       A     B     C    D
0    1.0   2.0   3.0  4.0
1    5.0   6.0   NaN  8.0
2   10.0  11.0  12.0  NaN

In [2]:
import pandas as pd
import numpy as np
from io import StringIO
csv_data=\
    '''
    A,B,C,D
    1.0,2.0,3.0,4.0
    5.0,6.0,,8.0
    10.0,11.0,12.0,
    '''
    
df=pd.read_csv(StringIO(csv_data))

# 누락된 값 대체: SimpleImputer 사용
from sklearn.impute import SimpleImputer

imr =SimpleImputer()
imr = imr.fit(df.values)

# 컬럼별로 위 평균갑으로 대체
imputed_data=imr.transform(df.values)
imputed_data

array([[ 1. ,  2. ,  3. ,  4. ],
       [ 5. ,  6. ,  7.5,  8. ],
       [10. , 11. , 12. ,  6. ]])

In [3]:
import pandas as pd
import numpy as np
from io import StringIO
csv_data=\
    '''
    A,B,C,D
    1.0,2.0,3.0,4.0
    5.0,6.0,,8.0
    10.0,11.0,12.0,
    '''
    
df=pd.read_csv(StringIO(csv_data))

# 누락된 값 대체
df.fillna(method='ffill',axis=1)

C:\Users\TJ\AppData\Local\Temp\ipykernel_18964\3816142756.py:15: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill',axis=1)

       A     B     C     D
0    1.0   2.0   3.0   4.0
1    5.0   6.0   6.0   8.0
2   10.0  11.0  12.0  12.0

In [4]:
# 범주형 데이터 다루기
# pandas를 사용한 범주형 데이터 인코딩
import pandas as pd
import numpy as np
df = pd.DataFrame(
    [['green', 'M', 10.1, 'class2'],
     ['red', 'L', 13.5, 'class1'],
     ['blue', 'XL', 15.3, 'class2']]
)
df.columns=['Color', 'Size', 'Value', 'Class']
df

   Color Size  Value   Class
0  green    M   10.1  class2
1    red    L   13.5  class1
2   blue   XL   15.3  class2

In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    [['green', 'M', 10.1, 'class2'],
     ['red', 'L', 13.5, 'class1'],
     ['blue', 'XL', 15.3, 'class2']]
)
df.columns=['Color', 'Size', 'Value', 'Class']
df
# M = 1
# L = 2 
# XL = 3
# 규칙 정의
size_mapping={
    'XL':3
    ,'L':2
    ,'M':1
}
df['Size']=df['Size'].map(size_mapping)
df

   Color  Size  Value   Class
0  green     1   10.1  class2
1    red     2   13.5  class1
2   blue     3   15.3  class2

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    [['green', 'M', 10.1, 'class2'],
     ['red', 'L', 13.5, 'class1'],
     ['blue', 'XL', 15.3, 'class2']]
)
df.columns=['Color', 'Size', 'Value', 'Class']
df
# M = 1
# L = 2 
# XL = 3
# 규칙 정의
size_mapping={
    'XL':3
    ,'L':2
    ,'M':1
}
df['Size']=df['Size'].map(size_mapping)

inv_size_mapping={
    v:k for k,v in size_mapping.items()
}

df['Size']=df['Size'].map(inv_size_mapping)
df

   Color Size  Value   Class
0  green    M   10.1  class2
1    red    L   13.5  class1
2   blue   XL   15.3  class2

In [7]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    [['green', 'M', 10.1, 'class2'],
     ['red', 'L', 13.5, 'class1'],
     ['blue', 'XL', 15.3, 'class2']]
)
df.columns=['Color', 'Size', 'Value', 'Class']

size_mapping={
    'XL':3
    ,'L':2
    ,'M':1
}
df['Size']=df['Size'].map(size_mapping)

class_mapping ={
    label:idx for idx, label in
    enumerate(np.unique(df['Class']))
}

df['Class']=df['Class'].map(class_mapping)

inv_class_mapping={
    v:k for k,v in class_mapping.items()
}
df['Class']=df['Class'].map(inv_class_mapping)
df

   Color  Size  Value   Class
0  green     1   10.1  class2
1    red     2   13.5  class1
2   blue     3   15.3  class2

In [8]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    [['green', 'M', 10.1, 'class2'],
     ['red', 'L', 13.5, 'class1'],
     ['blue', 'XL', 15.3, 'class2']]
)
df.columns=['Color', 'Size', 'Value', 'Class']

size_mapping={
    'XL':3
    ,'L':2
    ,'M':1
}
df['Size']=df['Size'].map(size_mapping)

# LabelEconder : 원래 답을 정수로 변환
from sklearn.preprocessing import LabelEncoder

class_le=LabelEncoder() # object 생성
y=class_le.fit_transform(df['Class'].values)

print(f'y의 값은 : {y}')
print(f'class_le.inverse_transform(y)의 값은 {class_le.inverse_transform(y)}')

y의 값은 : [1 0 1]
class_le.inverse_transform(y)의 값은 ['class2' 'class1' 'class2']

In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    [['green', 'M', 10.1, 'class2'],
     ['red', 'L', 13.5, 'class1'],
     ['blue', 'XL', 15.3, 'class2']]
)
df.columns=['Color', 'Size', 'Value', 'Class']

size_mapping={
    'XL':3
    ,'L':2
    ,'M':1
}
df['Size']=df['Size'].map(size_mapping)

# 순서가 없는 특성에 원·핫 인코딩 적용
# 한개만 1로 만들겠다
X=df[
    ['Color','Size','Value']
].values

from sklearn.preprocessing import LabelEncoder

color_le=LabelEncoder()
X[:,0]=color_le.fit_transform(X[:,0])
X

array([[1, 1, 10.1],
       [2, 2, 13.5],
       [0, 3, 15.3]], dtype=object)

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    [['green', 'M', 10.1, 'class2'],
     ['red', 'L', 13.5, 'class1'],
     ['blue', 'XL', 15.3, 'class2']]
)
df.columns=['Color', 'Size', 'Value', 'Class']

size_mapping={
    'XL':3
    ,'L':2
    ,'M':1
}
df['Size']=df['Size'].map(size_mapping)

# 순서가 없는 특성에 원·핫 인코딩 적용
# 한개만 1로 만들겠다
X=df[
    ['Color','Size','Value']
].values

from sklearn.preprocessing import OneHotEncoder
color_ohe=OneHotEncoder()

color_ohe.fit_transform(X[:,0].reshape(-1,1)).toarray()

from sklearn.compose import ColumnTransformer
c_transf=ColumnTransformer(
    [
        ('onehot',OneHotEncoder(dtype=int),[0])
        ,('nothing','passthrough',[1,2])
    ]
)
print('='*50)
print(f'X는 \n {X}')
print('='*50)
print(f'c_transf.fit_transform(X)는  \n {c_transf.fit_transform(X)}')
print('='*50)

pd.get_dummies(
    df[
        ['Value','Color','Size']
    ]
)

==================================================
X는
 [['green' 1 10.1]
 ['red' 2 13.5]
 ['blue' 3 15.3]]
==================================================
c_transf.fit_transform(X)는
 [[0 1 0 1 10.1]
 [0 0 1 2 13.5]
 [1 0 0 3 15.3]]
==================================================

   Value  Size  Color_blue  Color_green  Color_red
0   10.1     1       False         True      False
1   13.5     2       False        False       True
2   15.3     3        True        False      False

In [11]:
X

array([['green', 1, 10.1],
       ['red', 2, 13.5],
       ['blue', 3, 15.3]], dtype=object)

In [12]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

# 예제 데이터 생성
df_ = pd.DataFrame({
    '나이': [30, 25, 40, 35],
    '성별': ['남성', '여성', '여성', '남성'],
    '소득': [50000, 48000, 62000, 58000],
    '도시': ['서울', '부산', '서울', '대전']
})

# 적용할 ColumnTransformer 정의 : 오브젝트 생성
prepro = ColumnTransformer(
    [
        # StandardScaler : 나이, 소득 => (변수명, 오브젝트 생성, 적용할피처)
        ('num_scaler', StandardScaler(), ['나이', '소득']),
        # OneHot : 성별, 도시 
        ('cat_encoder', OneHotEncoder(), ['성별', '도시'])
    ],
    remainder='drop' #나머지 열은 모두 삭제
)

# 변환 실행
transformed_data = prepro.fit_transform(df_)

# 결과 출력

print(transformed_data)

[[-0.4472136  -0.78633365  1.          0.          0.          0.
   1.        ]
 [-1.34164079 -1.13581527  0.          1.          0.          1.
   0.        ]
 [ 1.34164079  1.31055608  0.          1.          0.          0.
   1.        ]
 [ 0.4472136   0.61159284  1.          0.          1.          0.
   0.        ]]

In [19]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    [['green', 'M', 10.1, 'class2'],
     ['red', 'L', 13.5, 'class1'],
     ['blue', 'XL', 15.3, 'class2']]
)
df.columns=['color', 'size', 'price', 'classlabel']
# x > M, x > L 두개 피처를 생성
# df['size'].apply(function)
df['x>M']=df['size'].apply(lambda x: 1 if x in ['L','XL'] else 0)
df['x>L']=df['size'].apply(lambda x: 1 if x == 'XL' else 0)
df

   color size  price classlabel  x>M  x>L
0  green    M   10.1     class2    0    0
1    red    L   13.5     class1    1    0
2   blue   XL   15.3     class2    1    1